<header class="hero-unit" id="banner">
  <div class="container">
    <h1>HealthChain Patient App</h1>
    <p class="lead">IBM Internal Blockchain Project</p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <h1 class="text-center">BlockChain Actions</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8" style="align:center;">
        <!--<button class="btn" type="button" ng-click="vm.bcInit()">Initialize</button>-->
        <!--<button class="btn" type="button" ng-click="vm.bcQuery()">Query</button>-->
        <button class="btn btn-balance glyphicon glyphicon-refresh" type="button" ng-click="vm.bcQuery()">Refresh!</button>
        <!--<button class="btn" type="button" ng-click="vm.bcInvoke()">Invoke</button>-->
      </div>
    </div>
  </div>
  <div class="loading" ng-class="{'hide':vm.hideLoading}">Loading&#8230;</div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <h1 class="text-center">Pending Requests</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <table class="table table-bordered">
          <tr>
            <!--<th>Record ID</th>-->
            <th>Medical Personnel's Name (Requestor)</th>
            <!-- <th>Medical Center (Hospital)</th> -->
            <th>Date</th>
            <th>Actions</th>
          </tr>
          <tr ng-repeat="record in vm.blockChainResponse">
            <!--<td>{{record.RecordID}}</td>-->
            <td>{{record.RequesterName}}</td>
            <!-- <td>{{record.hospital}}</td> -->
            <td>{{record.Date | date: "dd-MM-yyyy"}}</td>
            <td>
              <button class="btn btn-success" type="button" ng-click="vm.approve(record)">APPROVE</button>
              <button class="btn btn-danger" type="button" ng-click="vm.deny(record)">DENY</button>
            </td>
          </tr>
          <h4 class="text-center" ng-if="vm.blockChainResponse == undefined && vm.blockChainResponse.length < 1"> No pending Records</h4>
        </table>
      </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <h1 class="text-center">Reviewed Requests</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <table class="table table-bordered">
          <tr>
            <th>Record ID</th>
            <th>Medical Personnel's Name (Requestor)</th>
            <th>Medical Center (Hospital)</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
          <tr ng-repeat="record in vm.records">
            <td>{{record.id}}</td>
            <td>{{record.req_name}}</td>
            <td>{{record.hospital}}</td>
            <td>{{record.date | date:"dd-MM-yyyy"}}</td>
            <td>{{record.approved}}</td>
          </tr>
          <h4 ng-if="vm.records== undefined && vm.records.length < 1"> No Reviewed Records</h4>
        </table>
      </div>
  </div>
</div>
